/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ------------------------------------------ My CSS --------------------------------------- */
*, h1, h2,h3,h4,h5,h6 p{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
}

img{
  border-radius: 5px;
}

/* ----------------- Mobile version ------------- */
/* ---- Header ---- */
header{
  position: fixed;
  top: 0px;
  width: 100%;
}

h1{
  font-size: 1.3em;
}

nav{
  height: 15vh;
}

/* ---- main ---- */
.onlyIpadComputer{
  display: none;
}

main{
  margin-top: 15vh;
  color: white;
}

hr{
  width: 40%;
  margin: 0% 30% 0% 30%;
}

#aboutme, #project{
  width: 80%;
  margin: auto;
}

main .colorAboutMe{
  background-color: #798478 ;
}

main .colorPortfolio{
  background-color : #4d6a6d;
}

.card{
  position: inherit;
}

.card-img-top{
  width: 40%;
}

.imgmodal{
  width: 30%;
  margin-bottom: 5px;
}

.card-header{
  padding: 3% 0;
}

/* ---------------- Ipad Version ---------------- */
@media screen and (min-width: 576px){
  /* ---- Header ---- */
  .onlyMobile{
    display: none;
  }

  .onlyIpadComputer{
    display: block;
  }

  h1{
    font-size: 1.5em;
  }

  nav{
    height: 10vh;
  }

  /* ---- main ---- */
  main{
    margin-top: 10vh;
  }

  
  
  
}


/* ---------------- Computer Version ---------------- */
@media screen and (min-width: 992px){
  /* ---- Header ---- */
  h1{
    font-size: 1.8em;
  }

  .nav-link{
    font-size: 1.2em;
  }

  /* ---- main ---- */
  hr{
    width: 30%;
    margin: 2% 35% 2% 35%;
  }

  #aboutme, #project{
    width: 50%;
    margin: auto;
  }

  .card-img-top{
    width: 50%;
  }

  .imgmodal{
    width: 100%;
  }
}

