/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ------------------------------------------ My CSS --------------------------------------- */
*, h1, h2,h3,h4,h5,h6 p{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
}

img{
  border-radius: 5px;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 30%);
}
/* ------------------------ Mobile version ---------------------- */
/* ------ Header ------ */
header{
  position: fixed;
  top: 0px;
  width: 100%;
}

h1{
  font-size: 1.2em;
}

main p{
  font-size: 0.9em;
}

nav{
  height: 15vh;
}
/* ------- main ------ */
.onlyIpadComputer{
  display: none;
}

main{
  margin-top: 15vh;
  color: white;
}

hr{
  width: 40%;
  margin: 0% 30% 0% 30%;
}

#aboutme, #project, #carrer, #competences, #contact{
  width: 85%;
  margin: auto;
}

main .colorPortfolio{
  background-color : #4d6a6d;
}

main .colorAboutMe{
  background-color: #798478 ;
  min-height: 70vh;
}

main .colorProfessionnal{
  background-color : #a0a083;
  min-height: 100vh;
}

main .colorCompetences{
  background-color : #c9ada1;
  min-height: 70vh;
}

main .colorContact{
  background-color : #eae0cc;
  min-height: 60vh;
}

.card, .accordion-button{
  position: inherit;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 30%);
}

.card-img-top{
  width: 40%;
}

.imgmodal{
  width: 30%;
  margin-bottom: 5px;
}

.card-header{
  padding: 3% 0;
}

.dates{
  color: #fff;
  background: #c9ada1;
  width: 55%;
  padding: 15% 0;
  border-radius: 50%;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 30%);
}

.parcours{
  width: 90%;
  background: #f3f3f3;
  border-bottom: solid 4px #eeeeee;
  padding: 8%;
  margin-left: 15px;
  text-align: left;
  border-radius: 12px;
}

.fa-code, .fa-tools, .fa-globe-europe, .fa-user-circle{
  font-size: 1.5em;
  color: #4d6a6d;
}

.badge{
  background-color: #4d6a6d;
}

.colorPrincipal{
  color: #4d6a6d;
}

.sizeIcon{
  font-size: 60px;
}

.toTop{
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  background-color: rgba(83, 88, 102, 0.7);
  border-radius: 50%;
  width: 10%;
  font-size: 2.5em;
}

.fa-angle-up:hover{
  color: rgba(94, 85, 85, 0.986);
}
/* ------ Footer ----- */
.copyrigth{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* --------------------------- Ipad Version ----------------------- */
@media screen and (min-width: 576px){
  /* ------- Header ------ */
  .onlyMobile{
    display: none;
  }

  .onlyIpadComputer{
    display: block;
  }

  main p{
    font-size: 1em;
  }

  nav{
    height: 10vh;
  }

  /* ------- main ------- */
  main{
    margin-top: 10vh;
  }

  .fa-angle-up{
    font-size: 3em;
  }

  .fa-angle-up:hover{
    color: black;
  }

  .parcours{
    width: 70%;
    padding: 4%;
  }
  .dates{
    width: 25%;
    padding: 5% 0;
  }
  .toTop{
    font-size: 2.2em;
    width: 5%;
  }
}

/* --------------------------- Computer Version ----------------------- */
@media screen and (min-width: 992px){
  /* ------- Header ------- */
  h1{
    font-size: 1.8em;
  }

  .nav-link{
    font-size: 1.2em;
    border-bottom: 0.15rem solid white;
  }

  .nav-link:hover{
    border-bottom: 0.15rem solid grey;
  }
  
  /* ------- main -------- */

  h6{
    font-size: 1.1em;
  }

  h2{
    font-size: 1.5em;
  }
  
  main p{
    font-size: 1.1em;
  }

  hr{
    width: 30%;
    margin: 2% 35% 2% 35%;
  }

  #aboutme, #project, #carrer, #competences, #contact{
    width: 60%;
    margin: auto;
  }

  .card-img-top{
    width: 50%;
  }

  .imgmodal{
    width: 100%;
  }

  .parcours{
    width: 50%;
    padding: 2%;
  }

  .dates{
    width: 17%;
    padding: 3% 0;
  }
  .toTop{
    font-size: 3em;
    width: 3%;
  }
}

